[submodule "src/windowsSpin"]
	path = src/windowsSpin
	url = https://github.com/TemuWolverine/windowsSpin.git
[submodule "src/Fleck"]
	path = src/Fleck
	url = https://github.com/TemuWolverine/Fleck.git
[submodule "src/WateryTart.MusicAssistant"]
	path = src/WateryTart.MusicAssistant
	url = https://github.com/TemuWolverine/WateryTart.MusicAssistant.git
