[Desktop Entry]
Name=WateryTart
Comment=WateryTart, a Music Assistant client
StartupWMClass=WateryTart
Icon=/usr/share/pixmaps/WateryTart.png
Exec=/usr/lib/WateryTart/WateryTartLinux
Terminal=false
Type=Application
Categories=AudioVideo
GenericName=WateryTart
Keywords=waterytart; music; music-assistant