name: build-and-publish2

on:
  workflow_dispatch: {}
  release:
    types: [published]

permissions:
  id-token: write
  contents: write

jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    steps:
      - name: Set Version Variable (handles tags and non-tags)
        id: set_version
        run: |
          if [ "${{ github.ref_type }}" = "tag" ]; then
            VER="${{ github.ref_name }}"
            VER="${VER#v}"
            echo "version=$VER" >> $GITHUB_OUTPUT
          else
            echo "version=0.0.1" >> $GITHUB_OUTPUT
          fi

  linuxbuild:
    needs:
      - generate-version
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x'
          cache: true
          cache-dependency-path: './src/WateryTart.Platform.Linux/packages.lock.json'
      - name: Install dependencies
        run: dotnet restore src/WateryTart.Platform.Linux
      - name: Print version (for debug)
        run: echo "The version is ${{ needs.generate-version.outputs.version }}"
      - run: dotnet publish src/WateryTart.Platform.Linux -p:PublishProfile=LinuxArm /p:Version=${{ needs.generate-version.outputs.version }} -o ./output/linux-arm64
      - run: dotnet publish src/WateryTart.Platform.Linux -p:PublishProfile=Linux-x64 /p:Version=${{ needs.generate-version.outputs.version }} -o ./output/linux-x64

      - name: Upload Linux arm64 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-arm64-build
          path: output/linux-arm64

      - name: Upload Linux x64 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64-build
          path: ./output/linux-x64

  windowsbuild:
    needs:
      - generate-version
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x'
          cache: true
          cache-dependency-path: './src/WateryTart.Platform.Linux/packages.lock.json'
      - name: Install dependencies
        run: dotnet restore src/WateryTart.Platform.Windows
      - name: Print version (for debug)
        run: echo "The version is ${{ needs.generate-version.outputs.version }}"
      - run: dotnet publish src/WateryTart.Platform.Windows -p:PublishProfile=Winx64 /p:Version=${{ needs.generate-version.outputs.version }} -o ./output/win-x64

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: win-x64-build
          path: ./output/win-x64

  velopack:
    needs:
      - generate-version
      - linuxbuild
      - windowsbuild
    runs-on: ubuntu-latest
    steps:

      - name: Install Velopack
        run: |
          dotnet tool install -g vpk

      - uses: actions/checkout@v6
  
      - name: List current directory (for debug)
        run: ls -l

      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: win-x64-build
          path: win-x64

      - name: Download Linux64 artifact
        uses: actions/download-artifact@v4
        with:
          name: linux-x64-build
          path: linux-x64

      - name: Download Linuxarm64 artifact
        uses: actions/download-artifact@v4
        with:
          name: linux-arm64-build
          path: linux-arm64

      - name: List available artifacts
        run: ls -l

      - name: List downloaded files (debug)
        run: ls -l ./win-x64

      - name: Create Velopack Release
        working-directory: ${{ github.workspace }}
        run: |    
          pwd && ls -l ./win-x64
          vpk pack --packId WateryTart --channel win-x64 --packVersion ${{ needs.generate-version.outputs.version }} --packDir /home/runner/work/WateryTart/WateryTart/win-x64 --mainExe WateryTartDesktop.exe --icon Assets/logo_square.ico --outputDir ./releases

      - name: Upload assets to published Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            releases/*.*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}